/*! Preset v0.7.4 | MIT License | https://github.com/Microflash/preset */
:where(html) {
	/// @link https://github.com/Microflash/preset/blob/main/docs/decisions/2023-03-28-inherited-border-box.md
	box-sizing: border-box;
	// https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
	text-size-adjust: 100%;
	// allow percentage based heights for the children
	block-size: 100%;

	// traditional anti-aliasing for hidpi devices
	@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}

	// smooth scrolling when reduced-motion is disabled
	@media (prefers-reduced-motion: no-preference) {
		&:focus-within {
			scroll-behavior: smooth;
		}
	}
}

:where(body) {
	// allow percentage based heights for the children
	min-block-size: 100%;
	// keep long lines of code readable
	tab-size: 2;
}

* {
	margin: 0;
	// https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/
	line-height: calc(0.3rem + 2ex + 0.3rem);
	// avoid text overflow
	overflow-wrap: break-word;

	&,
	&::before,
	&::after {
		// inherit the box-sizing from html element as it easier to undo if needed
		box-sizing: inherit;
	}
}

:where(:not(fieldset, progress, meter)) {
	background-origin: border-box;
	background-repeat: no-repeat;
}

:where(abbr[title]) {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	cursor: help;
}

:where(ul, ol)[role="list"] {
	list-style: none;
}

:where(img, svg, canvas, audio, video, iframe, embed, object) {
	display: block;
	max-inline-size: 100%;
}

:where(img, svg, video) {
	block-size: auto;
}

:where(svg) {
	// always keep strokes rounded
	stroke-linecap: round;
	stroke-linejoin: round;
}

:where(iframe) {
	border: none;
}

// inherit typography styles from the parent and not the operating system
:where(input, button, textarea, select, optgroup) {
	color: inherit;
	font: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

:where(input[type="file"])::-webkit-file-upload-button {
	color: inherit;
	font: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

:where(input[type="file"])::file-selector-button {
	color: inherit;
	font: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

:where(textarea) {
	resize: vertical;

	// allow textarea to resize in block direction based on writing mode and direction values
	@supports (resize: block) {
		resize: block;
	}
}

// emphasize that interactive elements are interactive
:where(a[href], area, button, input, label[for], select, summary, textarea, [onclick], [tabindex]:not([tabindex*="-"])) {
	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

:where(input[type="file"]) {
	cursor: auto;

	&::-webkit-file-upload-button {
		cursor: pointer;
	}

	&::file-selector-button {
		cursor: pointer;
	}
}

// ensure button text is not selectable
:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]) {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

:where(input[type="file"])::-webkit-file-upload-button {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

:where(input[type="file"])::file-selector-button {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

// disabled cursor for disabled buttons
:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"])[disabled] {
	cursor: not-allowed;
}

:where(table) {
	// remove spacing between cells
	border-collapse: collapse;
	border-spacing: 0;
}

// animate focus outline
@media (prefers-reduced-motion: no-preference) {
	:where(:focus-visible) {
		transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
	}

	:where(:not(:active):focus-visible) {
		transition-duration: 0.25s;
	}
}
